
.navbar{
    background-color: #239B56;
}
.quem-somos{
    background-color: #2843dd;
    color: white;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: #A3E4D7;
}
.bg-footer{
    background-color: black;
    color: white;
}